.btn-xs{
   padding: .25rem .4rem;
   font-size: .875rem;
   line-height: .5;
   border-radius: .2rem;
   margin-right: 8px;
 }

.star {
  font-size: 3.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
p-dialog .ui-dialog {
  overflow:auto;
  max-height: 30%;
}

i{
  font-size: 19px;
}
.btn-action{
  height: 40px;
  width: 45px;
  padding: .50rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
  margin-right: 8px;
}
.badge{
  margin-top: 6px;
  min-width: 103px;
  padding: 0.50em;
  font-size: 16px;
}