<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login </title>
</head>

<body class="my-login-page">
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100" >
      <div class="card-wrapper">
        <div class="brand">
          <img src="../../assets/download.jpg" alt="logo">
        </div>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Sign In </h4>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div  class="alert alert-danger" *ngIf="error_message"> {{error_message}} </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-checkbox custom-control">
                  <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                  <label for="remember" class="custom-control-label">Remeber Me</label>
                </div>
              </div>

              <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </div>
              <div class="mt-4 text-center">
                Don't have an account? <span class="new-registration" (click)="newRegistration()">Create One</span>
              </div>
            </form>
          </div>
        </div>
        <div class="footer">
          Copyright &copy; 2019 &mdash;  Asal Technolgies
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
